@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
*{
    margin: 0;
    padding: 0;
}

.min-height{
    min-height: 100vh;
}

.auto{
    margin-right: auto;
    margin-left: auto;
}

.container{
    max-width: 80vw;
}

.font-A{
    font-family: 'Tapestry', cursive;
    font-size: 22px;
}

.name{
    border: 2px solid gold;
    border-radius: 50px;
    padding: 7px;
}



.flex-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar li{
    list-style: none;
    margin: 0 15px;
}

.nav-bar{
    display: flex;
    height: 70px;
}

.para{
    font-size: 20px;
}

.section-1a{
    display: flex;
    flex-direction: row;
    margin:  20px 0;
    justify-content: space-between;
    align-items: center;
    
}

.centre{
    justify-content: center;
}

.section-1{
    height: 50vh;
}

.left{
    width: 50%;
}



.photo{
    height: 250px;
    border-radius: 50px;
    border: 2px solid gold;
    margin-top: 20px;
}

.second-head{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boxes{
    display: flex;
    flex-direction: row;
    /* margin: 10px; */
    justify-content: space-between;
}

.box1 ul li{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;

}

.box2 ul li{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
}

.box3 ul li{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box-borders{
    border: 2px solid gold;
}

.box1{
    margin: 20px;
    padding: 25px;
    text-align: center;
    border-radius: 50px;
    width: 20vw;
}

.box2{
    margin: 20px;
    padding: 25px;
    text-align: center;
    border-radius: 50px;
    width: 20vw;
}

.box3{
    margin: 20px;
    padding: 25px;
    text-align: center;
    border-radius: 50px;
    width: 20vw;
}

.quotes{
    padding: 20px;
}

.btn{
    border: 1px solid gold;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Tapestry', cursive;
    font-weight: bold;
    font-size: 20px;
}

.space{
    margin-top: 5px;
    margin-bottom: 5px;
}

.query-boxes{
    display: flex;
    flex-direction: column;
}

.boxes-query{
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Tapestry', cursive;
    font-size: 20px;
}

.contact-head{
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
}

#footer{
    text-align: center;
    margin: 5px;
}